// Zed settings
{
  "git_panel": {
    "tree_view": true,
  },
  "agent_servers": {
    "claude-acp": {
      "type": "registry",
    },
  },
  "session": {
    "trust_all_worktrees": true,
  },
  "vim_mode": true,
  "vim": {
    "sneak": true,
  },
  "icon_theme": {
    "mode": "dark",
    "light": "Zed (Default)",
    "dark": "Catppuccin Latte",
  },
  "buffer_font_family": "JetBrainsMono Nerd Font",
  "buffer_font_size": 15,
  "ui_font_family": "JetBrainsMono Nerd Font",
  "ui_font_size": 16,
  "theme": {
    "mode": "dark",
    "light": "Gruvbox Light",
{{ if eq .chezmoi.os "darwin" -}}
    "dark": "Vesper Blur",
{{- else -}}
    "dark": "Everforest Dark Hard (blur)",
{{- end }}
  },
  "terminal": {
    "font_family": "JetBrainsMono Nerd Font",
    "font_size": 13,
  },
{{ if eq .chezmoi.os "linux" -}}
  "lsp": {
    "ruff": {
      "binary": {
        "path": "/home/leo/.local/bin/ruff",
        "arguments": ["server"],
      },
    },
  },
{{- end }}
}
