/* Everforest Dark — Waybar */

* {
  border: none;
  border-radius: 0;
	font-family: "JetBrains Mono Nerd Font";
	font-size: 15px;
}

window#waybar {
	background: #232A2E;
	min-height: 0;
}

/* Groups */

.modules-left, .modules-center, .modules-right {
  border-radius: 5px;
	background: #2D353B;
  color: #D3C6AA;
  margin: 5px;
  margin-left: 6px;
}

/* Label Customization */

label, button {
	padding: 0 5px;
}

button label {
	border: none;
	background: transparent;
	padding: 0;
}

/* Module Customization */

#workspaces {
	background: transparent;
}

#workspaces button {
	color: #7A8478;
	margin: 0;
	padding: 2 2px;
}

#workspaces button.active {
	color: #A7C080;
}

#workspaces button.urgent {
	color: #E67E80;
}

#window {
  color: #D3C6AA;
}

#clock {
	color: #D3C6AA;
}

#idle_inhibitor {
	color: #7A8478;
}

#idle_inhibitor.activated {
	color: #DBBC7F;
}

#pulseaudio.output {
	color: #D699B6;
}

#disk {
  color: #D699B6;
}

#memory {
	color: #A7C080;
}

#memory.warning {
	color: #DBBC7F;
}

#memory.critical {
	color: #E67E80;
}

#cpu {
  color: #83C092;
}

#temperature {
	color: #7FBBB3;
}

#temperature.critical {
	color: #E67E80;
}

#network {
	color: #E69875;
}

#tray {
	color: #9DA9A0;
}

#custom-divider {
	color: #475258;
}
