/* SwayOSD — Everforest Dark */

window {
    padding: 12px 20px;
    border-radius: 12px;
    border: 2px solid #475258;
    background: alpha(#2D353B, 0.9);
}

#container {
    margin: 8px;
}

image {
    color: #D3C6AA;
}

progressbar:disabled,
image:disabled {
    opacity: 0.5;
}

progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
}

trough {
    min-height: 6px;
    border-radius: 999px;
    background: #343F44;
}

progress {
    min-height: 6px;
    border-radius: 999px;
    background: #A7C080;
}
